/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;700&display=swap');

/* colors */
:root {
    --background: #ffecdd;
    --primary: #2E3641;
    --secondary: #DDA882;
  }
*{
    padding: 0%;
    margin: 0%;
}


body    {
    background-color:var(--background) ;
    height:100vh;
    width:100%;
}
.container{
    padding-top: 2%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}


/* header */

.header{
    background-color: var(--secondary);
    height:15vw;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
h1{
    color:var(--primary);
    font-family: 'Noto Sans', sans-serif;
    font-size: 5vw;
}
h2{
    color:var(--primary);
    font-family: 'Noto Sans', sans-serif;
    font-size: 2vw;
}

/* card container */
.card_cont{
    display: flex;
    flex-direction: column;
}
.card{
    padding: 1vw 0vw;
    display: flex;
    justify-content: space-around;
    height:15vw;
    border-bottom: solid .2vw var(--primary);
    align-items: center;
}


.img{
    height:13vw;
    border-radius:50%;
}
h4{
    color:var(--primary);
    font-family: 'Noto Sans', sans-serif;
    font-size: 3vw; 
}
h6{
    font-family: 'Noto Sans', sans-serif;
    font-size: 2vw; 
}
.description{
    display: flex;
    flex-direction: row;
}

p{
    font-family: 'Noto Sans', sans-serif;
    font-size: 2vw;  
}
.anc{
    text-decoration: none !important ;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2vw; 
    background-color: var(--secondary);
    color: var(--primary);
    padding: 1vw 3vw;
    border-radius: 1vw;
    height: 3vw;
    transition: .2s ease-in-out;
}
.anc:hover{
    background-color: var(--primary);
    color: var(--secondary);
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3vw;
}
@media (min-width: 0px) and (max-width: 481px) {
    .description{
        display: flex;
        flex-direction: column;
    }
    .link{
        display: flex;
        justify-content: flex-start;
        padding-left: 0vw;
    }
}
@media (min-width: 481px) and (max-width: 4000px) {
    .header{
        height:12vw;
    }
    h1{
        color:var(--primary);
        font-family: 'Noto Sans', sans-serif;
        font-size: 4vw;
    }
    h2{
        color:var(--primary);
        font-family: 'Noto Sans', sans-serif;
        font-size: 2vw;
    }
    .card{
        padding: 1vw 0vw;
        height:12vw;
    }
    .img{
        height:10vw;
    }
    h4{
        color:var(--primary);
        font-family: 'Noto Sans', sans-serif;
        font-size: 2vw; 
    }
    h6{
        font-family: 'Noto Sans', sans-serif;
        font-size: 1.5vw; 
    }
    
    p{
        font-family: 'Noto Sans', sans-serif;
        font-size: 1.5vw;  
    }
    .anc{
        font-size: 1.5vw; 
        padding: 1vw 1vw;
        border-radius: 1vw;
        height: 2vw;
    }
}